{% extends 'VBeeSettingBundle::layout.html.twig' %}

{% block vbee_content %}
    <div class="container">

        <div class="page-header">
            <h1>{{ 'setting_list.title'|trans({}, 'VBeeSettingBundle') }}</h1>
        </div>

        <p>
            <a class="btn btn-primary btn-small" href="{{ path('vbee_setting_setting_create') }}">
                {{ 'setting_list.create_setting'|trans({}, 'VBeeSettingBundle') }}
            </a>
        </p>

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>{{ 'setting_list.name'|trans({}, 'VBeeSettingBundle') }}</th>
                    <th>{{ 'setting_list.description'|trans({}, 'VBeeSettingBundle') }}</th>
                    <th>{{ 'setting_list.value'|trans({}, 'VBeeSettingBundle') }}</th>
                    <th>{{ 'setting_list.actions'|trans({}, 'VBeeSettingBundle') }}</th>
                </tr>
                {% for setting in settings %}
                    <tr>
                        <td class="col-md-2">{{ setting.name }}</td>
                        <td class="col-md-5">{{ setting.description|nl2br }}</td>
                        <td class="col-md-3"><span class="label label-primary">{{ setting.type }}</span> {{ setting.value }}</td>
                        <td class="col-md-2">
                            <a class="btn btn-primary btn-small" href="{{ path('vbee_setting_setting_edit', {'id': setting.id}) }}">
                                {{ 'setting_list.edit'|trans({}, 'VBeeSettingBundle') }}
                            </a>
                            <a class="btn btn-danger btn-small" href="{{ path('vbee_setting_setting_remove', {'id': setting.id}) }}">
                                {{ 'setting_list.delete'|trans({}, 'VBeeSettingBundle') }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}